img {
	max-width: 100%;
	height: auto;
}

/* ------- TYPOGRAPHY ------- */

html {
	/* Set general font, line height, and color for document */
	font-family: 'Nunito Sans', sans-serif;
	font-display: swap;
	line-height: 1.6;
	color: #404040;
}

/* ------- CSS PREFERENCES ------- */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ------- ACCESSIBILITY-ORIENTED STYLES ------- */

.visually-hidden {
	/* Hide content visually while still keeping it accessible to search engines/assistive technology users */
	width: 0.0625rem;
	height: 0.0625rem;
	margin: 0;
	position: absolute;
	overflow: hidden;
	clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
}

a.visually-hidden-skip-link {
	/* Hide anchors visually until they're keyboard-focused */
	width: auto;
	max-width: 100vw;
	margin: 0 auto;
	padding: 0.85714286rem 1.71428571rem;
	border: 0.25rem solid #000;
	display: block;
	font-size: 1rem !important;
	text-align: center;
	background-color: #444;
	color: #fff !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: fixed;
	top: 0;
	right: 200%;
	z-index: 999;
}

a.visually-hidden-skip-link:focus {
	left: 0;
	right: auto;
}

/* ------- PAGE LAYOUT ------- */

/* General */

body {
	/* Remove default margin */
	margin: 0;
}

aside,
main,
footer {
	/* Ensure left and right padding on major layout elements */
	padding: 0 0.9375rem;
}

aside > *,
main > *,
footer > * {
	/* Limit width of content blocks and horizontally center them */
	width: 100%;
	max-width: 33.75rem;
	margin-left: auto !important;
	margin-right: auto !important;
}

/* Relational Layout Styles */

header + aside {
	/* Add padding and a background gradient to any sidebar immediately adjacent to the header */
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#5dc5c3));
	background-image: -webkit-linear-gradient(top, white 0%, #5dc5c3 100%);
	background-image: -o-linear-gradient(top, white 0%, #5dc5c3 100%);
	background-image: linear-gradient(180deg, white 0%, #5dc5c3 100%);
}

header + aside + main {
	/* Add a background gradient and background image to the main element if it's preceded by a sidebar and the header */
	background-image: url('assets/images/background-clap-hands.svg'), -webkit-gradient(linear, left top, left bottom, from(#5dc5c3), color-stop(50%, #3498db), to(#1c5379));
	background-image: url('assets/images/background-clap-hands.svg'), -webkit-linear-gradient(top, #5dc5c3 0%, #3498db 50%, #1c5379 100%);
	background-image: url('assets/images/background-clap-hands.svg'), -o-linear-gradient(top, #5dc5c3 0%, #3498db 50%, #1c5379 100%);
	background-image: url('assets/images/background-clap-hands.svg'), linear-gradient(180deg, #5dc5c3 0%, #3498db 50%, #1c5379 100%);
	background-repeat: no-repeat, no-repeat;
	background-position: right bottom, top left;
	background-size: calc(35% + 10 * (100vh - 18.75rem) / 400), auto;
}

header + main {
	/* Add a different background gradient to the main element if it's not preceded by a sidebar */
	background-image: url('assets/images/background-clap-hands.svg'), -webkit-gradient(linear, left top, left bottom, from(#5dc5c3), color-stop(50%, #3498db), to(#1c5379));
	background-image: url('assets/images/background-clap-hands.svg'), -webkit-linear-gradient(top, #5dc5c3 0%, #3498db 50%, #1c5379 100%);
	background-image: url('assets/images/background-clap-hands.svg'), -o-linear-gradient(top, #5dc5c3 0%, #3498db 50%, #1c5379 100%);
	background-image: url('assets/images/background-clap-hands.svg'), linear-gradient(180deg, #5dc5c3 0%, #3498db 50%, #1c5379 100%);
	background-repeat: no-repeat, no-repeat;
	background-position: right bottom, top left;
	background-size: calc(35% + 10 * (100vh - 18.75rem) / 400), auto;
}

header + * {
	/* Add a top margin to whatever element follows the header */
	margin-top: 3.125rem;
}

main + * {
	/* Add top and bottom padding to whatever element follows the header */
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

/* ------- HEADER ------- */

header {
	min-height: 3.125rem;
	margin: 0 auto;
	background-color: #fff;
}

header br {
	/* Hide the line breaks in the header */
	display: none;
}

nav.major-navigation {
	font-size: 1.75rem;
}

nav.major-navigation ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

nav.major-navigation a {
	padding: 1.25rem 3.25rem;
	display: block;
	font-size: 1rem;
	font-weight: 900;
	text-decoration: none;
	color: #333;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

nav.major-navigation a:active,
nav.major-navigation a:visited {
	color: inherit;
}

nav.major-navigation a:focus,
nav.major-navigation a:hover {
	color: #29d9c2;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

nav.major-navigation a.icon {
	color: #d9252e;
}

nav.major-navigation a.icon:focus,
nav.major-navigation a.icon:hover {
	color: #29d9c2;
}

nav.major-navigation a > span {
	-webkit-box-shadow: inset 0 -0.125rem 0 transparent;
	box-shadow: inset 0 -0.125rem 0 transparent;
	-webkit-transition: -webkit-box-shadow 0.2s ease-out;
	transition: -webkit-box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

nav.major-navigation a:focus > span,
nav.major-navigation a:hover > span {
	-webkit-box-shadow: inset 0 -0.125rem 0 #29D9C2;
	box-shadow: inset 0 -0.125rem 0 #29D9C2;
	-webkit-transition: -webkit-box-shadow 0.2s ease-out;
	transition: -webkit-box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

nav a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

aside.major-navigation-social-media {
	padding: 1.25rem 2.75rem;
}

aside.major-navigation-social-media ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

aside.major-navigation-social-media dl,
aside.major-navigation-social-media dd {
	margin: 0;
}

aside.major-navigation-social-media a {
	padding: 0.75rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1rem;
}

aside.major-navigation-social-media a.icon {
	color: inherit;
}

/* JavaScript Enhancements */

[data-js="true"] header {
	/* Make the header "sticky" */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
}

[data-js="true"] nav.major-navigation [type="button"][aria-expanded][aria-label] {
	/* Add a toggle button the header */
	height: 3.125rem;
	padding: 0.9375rem 1rem 0.5625rem 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #333;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.625;
	position: absolute;
	top: 0;
	right: 0;
}

[data-js="true"] nav.major-navigation [type="button"][aria-expanded][aria-label][hidden] {
	display: none;
}

[data-js="true"] nav.major-navigation [type="button"][aria-expanded][aria-label] > svg {
	width: 0.875rem;
	height: 0.875rem;
	margin-left: 0.25rem;
	fill: #333;
}

[data-js="true"] nav.major-navigation > div {
	/* Wrap the togglable content in a div */
	background-color: #fff;
}

[data-js="true"] nav.major-navigation > div[hidden] {
	display: block;
	-webkit-transform: translateX(-140vw);
	-ms-transform: translateX(-140vw);
	transform: translateX(-140vw);
}

[data-js="true"] nav.major-navigation > div:not([hidden]) {
	height: calc(100vh - 3.125rem);
	margin-top: 3.125rem;
	padding: 2.125rem 0 1.875rem 0;
	overflow-y: auto;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

[data-js="true"] nav.major-navigation > div[hidden] > ul > li {
	display: none;
}

[data-js="true"] nav.major-navigation > div[hidden] > ul > li:first-of-type {
	display: block;
	-webkit-transform: translateX(140vw);
	-ms-transform: translateX(140vw);
	transform: translateX(140vw);
}

[data-js="true"] nav.major-navigation > div:not([hidden]) > ul > li:first-of-type {
	display: block;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

[data-js="true"] nav.major-navigation > div[hidden] > aside {
	display: none;
}

[data-js="true"] nav.major-navigation > div > ul a {
	font-size: 1.75rem;
}

[data-js="true"] nav.major-navigation > div > ul a.icon {
	padding: 0.3125rem 0.9375rem;
	line-height: 1;
	position: absolute;
	top: 0;
}

/* ------- FLOW CONTENT ------- */

a {
	-webkit-box-shadow: inset 0 -0.1875rem 0 #3498db;
	box-shadow: inset 0 -0.1875rem 0 #3498db;
	text-decoration: none;
	-webkit-transition: -webkit-box-shadow 0.2s ease-out;
	transition: -webkit-box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

a:active,
a:visited {
	color: inherit;
}

a:focus,
a:hover {
	-webkit-box-shadow: inset 0 -0.9375rem 0 #29D9C2;
	box-shadow: inset 0 -0.9375rem 0 #29D9C2;
-webkit-transition: -webkit-box-shadow 0.2s ease-out;
transition: -webkit-box-shadow 0.2s ease-out;
-o-transition: box-shadow 0.2s ease-out;
transition: box-shadow 0.2s ease-out;
transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

a.call-to-action {
	width: auto;
	margin-left: 0;
	margin-right: auto;
	padding: 0.4375rem 2.5rem;
	border: 0.0625rem solid #fff;
	display: inline-block;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.625;
	text-align: center;
	color: #fff;
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-animation-name: glowing;
	animation-name: glowing;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
	-o-transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
	transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}

a.call-to-action:active,
a.call-to-action:visited {
	color: inherit;
}

a.call-to-action:focus,
a.call-to-action:hover {
	border-color: #29D9C2 !important;
	background-color: #29D9C2;
	color: #fff !important;
	-webkit-transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
	-o-transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
	transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}

a.icon,
a.icon:focus,
a.icon:hover {
	border-bottom: none;
}

a.icon svg {
	display: block;
}

address {
	font-style: normal;
}

button {
	font-family: inherit;
}

button[type="button"] {
	border: none;
	background-color: transparent;
}

dd,
li,
p {
	font-size: calc(1rem + 5 * (100vw - 20rem) / 850);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

small {
	font-size: inherit;
}

main * + * {
	margin-top: 1rem;
}

/* Form Elements */

input,
textarea,
select,
[type="submit"] {
	padding: calc(0.4375rem + 5 * (100vw - 20rem) / 850) calc(0.9375rem + 0 * (100vw - 20rem) / 850);
	font-size: 1rem;
	line-height: 1.6;
	border: 0.0625rem solid #1c5379;
	border-radius: 0;
}

[type="submit"] {
	font-weight: 900;
	color: #fff;
	background-color: #1c5379;
}

* + [type="submit"] {
	border-left: none;
}

::-webkit-input-placeholder {
	font-family: "Nunito Sans", sans-serif;
}
::-moz-placeholder {
	font-family: "Nunito Sans", sans-serif;
}
:-ms-input-placeholder {
	font-family: "Nunito Sans", sans-serif;
}
:-moz-placeholder {
	font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 48em) {
	/* ------- PAGE LAYOUT ------- */

	/* General */

	aside > *,
	main > *,
	footer {
		max-width: 43.125rem;
	}

	footer > * {
		margin-left: 0 !important;
		margin-right: 0 !important;
		max-width: none;
	}
}

@media (min-width: 62em) {
	/* ------- PAGE LAYOUT ------- */

	/* General */

	header > * {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	header > *,
	aside > *,
	main > *,
	footer {
		max-width: 58.125rem;
	}

	/* ------- HEADER ------- */

	header {
		height: 3.75rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	header + * {
		margin-top: 3.75rem;
	}

	nav.major-navigation {
		width: 100%;
		height: inherit;
		font-size: 1rem;
		line-height: 1.1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	nav.major-navigation ul,
	aside.major-navigation-social-media {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	nav.major-navigation ul {
		-webkit-box-flex: 0;
		-ms-flex: 0 2 100%;
		flex: 0 2 100%;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	nav.major-navigation a {
		padding: 1.34375rem 0.9375rem;
	}

	nav.major-navigation ul > li:first-of-type {
		margin-right: auto;
	}

	aside.major-navigation-social-media {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}

	aside.major-navigation-social-media ul {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	aside.major-navigation-social-media ul li:first-of-type {
		margin-right: 0;
	}

	aside.major-navigation-social-media {
		padding: 0;
	}

	/* JavaScript Enhancements */

	[data-js="true"] nav.major-navigation > div:not([hidden]) {
		width: 100%;
		height: inherit;
		margin: 0;
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: stretch;
		-ms-flex-pack: stretch;
		justify-content: stretch;
		overflow-y: initial;
	}

	[data-js="true"] nav.major-navigation > div > ul a.icon {
		padding: 0.625rem 0;
		position: static;
	}

	[data-js="true"] nav.major-navigation > div > ul a {
		font-size: 1rem;
	}

	/* ------- FLOW CONTENT ------- */

	main {
		font-size: 1.3125rem;
	}

	main * + * {
		margin-top: 2.15rem;
	}

	main li + li {
		margin-top: 1.075rem;
	}
}

@media (min-width: 73.125em) {
	/* ------- FLOW CONTENT ------- */
	dd,
	li,
	p {
		font-size: 1.3125rem;		
	}
}

@media (min-width: 75em) {
	/* ------- PAGE LAYOUT ------- */

	/* General */

	header > *,
	aside > *,
	main > *,
	footer {
		max-width: 71.25rem;
	}
}