/* ------- ANIMATIONS ------- */

@-webkit-keyframes glowing {
	0% {
		-webkit-box-shadow: 0 0 -0.625rem #fff;
		box-shadow: 0 0 -0.625rem #fff;
	}
	40% {
		-webkit-box-shadow: 0 0 1.25rem #fff;
		box-shadow: 0 0 1.25rem #fff;
	}
	60% {
		-webkit-box-shadow: 0 0 1.25rem #fff;
		box-shadow: 0 0 1.25rem #fff;
	}
	100% {
		-webkit-box-shadow: 0 0 -0.625rem #fff;
		box-shadow: 0 0 -0.625rem #fff;
	}
}

@keyframes glowing {
	0% {
		-webkit-box-shadow: 0 0 -0.625rem #fff;
		box-shadow: 0 0 -0.625rem #fff;
	}
	40% {
		-webkit-box-shadow: 0 0 1.25rem #fff;
		box-shadow: 0 0 1.25rem #fff;
	}
	60% {
		-webkit-box-shadow: 0 0 1.25rem #fff;
		box-shadow: 0 0 1.25rem #fff;
	}
	100% {
		-webkit-box-shadow: 0 0 -0.625rem #fff;
		box-shadow: 0 0 -0.625rem #fff;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ------- FOOTER ------- */

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}

footer a {
	border-bottom: 0.0625rem solid transparent;
	display: inline-block;
	color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

footer a:focus,
footer a:hover {
	border-bottom: 0.0625rem solid #29D9C2;
	color: #29d9c2;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

footer a.icon {
	padding: 0.5rem;
}

footer dd,
footer p {
	font-size: 1rem;
}

footer dd {
	margin-left: 0;
}

footer dl {
	margin: 0;
}

footer h2 {
	font-weight: 900;
}

footer li {
	font-size: 0.9375rem;
}

footer ul {
	padding-left: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

footer > section.get-in-touch {
	padding-bottom: 1.875rem;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

footer > section.get-in-touch address {
	margin-top: 0.625rem;
}

section.get-in-touch address > dl + dl {
	margin-top: 1.875rem;
}

dl.get-in-touch-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

footer > aside.copyright-information {
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	padding-top: 1.25rem;
	border-top: 0.0625rem solid #979797;
	font-size: 0.9375rem;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	position: relative;
}

aside.copyright-information a[rel="author"] {
	display: inline;
}

footer > nav.additional-pages-navigation {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
	font-size: 0.9375rem;
}

nav.additional-pages-navigation ul,
nav.additional-pages-navigation li,
nav.additional-pages-navigation a {
	display: inline;
}

nav.additional-pages-navigation li:not(:last-child)::after {
	content: "|";
	padding-left: 0.125rem;
	padding-right: 0.125rem;
}

aside.kick-point-family-of-products {
	padding: 0.25rem 0 3.125rem 0;
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
	font-size: 0.9375rem;
}

aside.kick-point-family-of-products h2 {
	font-size: 0.9375rem;
	font-weight: 400;
}

aside.kick-point-family-of-products h2::after {
	content: ":\0020";
}

aside.kick-point-family-of-products ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

aside.kick-point-family-of-products a.icon {
	padding: 0.5rem;
}

/* ------- TEMPLATE STYLES ------- */

/* "front-page.php" */

[data-template="front-page"] main {
	color: #fff;
}

[data-template="front-page"] main ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

[data-template="front-page"] main > section {
	margin: 0;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

[data-template="front-page"] main > section em {
	font-size: 1.3125rem;
	font-style: normal;
}

[data-template="front-page"] main > section > section {
	margin-top: 0;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

/* ------- SIDEBARS ------- */

/* "sidebar-sign-up-for-our-newsletter.php" */

aside.sign-up-for-our-newsletter h2 {
	font-weight: 900;
	text-align: center;
}

aside.sign-up-for-our-newsletter form {
	margin-top: 0.625rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

aside.sign-up-for-our-newsletter form input,
aside.sign-up-for-our-newsletter form [type="submit"] {
	min-width: 0;
}

aside.sign-up-for-our-newsletter form input {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

aside.sign-up-for-our-newsletter form [type="submit"] {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

/* ------- COMPONENT STYLES ------- */

/* "Preview - Case Study" */

.preview-case-study {
	/*padding-top: 4.6875rem;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.preview-case-study h4 {
	margin-top: 0.625rem;
	font-size: 2.3125rem;
	line-height: 1.3;
}

.preview-case-study > img {
	margin: 1.875rem 0 2.5rem 0;
	display: block;
}

.preview-case-study-services {
	margin: 0;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	font-weight: 900;
}

.preview-case-study-services dd {
	margin-left: 0;
}

.preview-case-study-services li {
	display: inline;
}

.preview-case-study-services li + li::before {
	content: "\0020\2022\0020";
}

@media (min-width: 24.4375em) {
	/* ------- FOOTER ------- */

	footer li {
		font-size: 1rem;
	}

	nav.additional-pages-navigation li:not(:last-child)::after {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	nav.additional-pages-navigation li:last-child::after {
		content: "|";
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	aside.copyright-information {
		font-size: 1rem;
	}

	aside.kick-point-family-of-products h2 {
		font-size: 1rem;
	}
}

@media (min-width: 48em) {
	/* ------- FOOTER ------- */

	footer {
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		text-align: left;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	footer > nav.additional-pages-navigation {
		width: auto;
		margin: 1.25rem 0 0 0.5rem !important;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}

	footer > aside.copyright-information {
		width: auto;
		margin: 1.25rem 0 0 0;
		padding-top: 0;
		border-top: none;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}

	footer > section.get-in-touch {
		width: 100%;
		padding-bottom: 0;
		border-bottom: 0.0625rem solid #979797;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
	}

	section.get-in-touch address {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	section.get-in-touch address dl.get-in-touch-address {
		margin-top: 0;
		margin-left: 2.5rem;
	}

	dl.get-in-touch-address dd {
		display: inline;
		white-space: nowrap;
	}

	section.get-in-touch address dl.get-in-touch-social {
		margin-bottom: 3.125rem;
		margin-left: auto;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}

	aside.copyright-information {
		padding-left: 0;
		padding-right: 0;
	}

	aside.kick-point-family-of-products {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	aside.kick-point-family-of-products > * {
		max-width: none;
		width: auto;
		margin-left: 0 !important;
		margin-right: 0 !important;

	}

	aside.kick-point-family-of-products > h2 {
		white-space: nowrap;
	}

	aside.kick-point-family-of-products > ul {
		margin: 0 0 0 0.9375rem !important;
	}

	/* ------- FLOW CONTENT ------- */

	h2 {
		font-size: calc(1rem + 5 * (100vw - 20rem) / 850)
	}

	/* ------- SIDEBARS ------- */

	/* "sidebar-sign-up-for-our-newsletter.php" */

	aside.sign-up-for-our-newsletter h2 {
		text-align: left;
	}

	aside.sign-up-for-our-newsletter form {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

@media (min-width: 62em) {
	/* ------- FOOTER ------- */

	section.get-in-touch {
		padding-bottom: 3.125rem;
	}

	section.get-in-touch address {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;	
	}

	dl.get-in-touch-address {
		margin-left: 3.75rem;
	}

	section.get-in-touch address dl.get-in-touch-social {
		margin: 0 0 0 auto;
		-webkit-box-flex: initial;
		-ms-flex: initial;
		flex: initial;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	/* ------- TEMPLATE STYLES ------- */

	/* "front-page.php */

	[data-template="front-page"] main > section {
		padding-top: 8.71875rem;
		padding-bottom: 8.71875rem;
	}

	[data-template="front-page"] aside + main > section {
		padding-top: 2rem;
	}

	[data-template="front-page"] main > section > section {
		padding-bottom: 9.9375rem;
	}

	[data-template="front-page"] main > section > *:not(section) {
		max-width: 45%;
	}

	[data-template="front-page"] main > section em {
		font-size: 1.75rem;
	}

	[data-template="front-page"] .welcome-to-kick-point-recent-work li + li {
		margin-top: 12.5rem;
	}

	/* ------- SIDEBARS ------- */

	/* "sidebar-advertisements.php" */

	aside.advertisements li + li {
		margin-top: 10rem;
	}

	/* "sidebar-advertisements.php" - JavaScript Enhancements */

	[data-js="true"] aside.advertisements {
		padding: 0;
		/* Use the sidebar as a positioning anchor */
		position: static;
	}

	[data-js="true"] section.advertisements-user-controls li + li {
		margin-top: 0;
		margin-left: 2rem;
	}

	[data-js="true"] section.advertisements-user-controls [type="button"] {
		padding: 1rem;
		position: relative;
		z-index: 2;
		top: initial;
	}

	[data-js="true"] section.advertisements-user-controls [type="button"][data-action="back"] {
		left: initial;
	}

	[data-js="true"] section.advertisements-user-controls [type="button"][data-action="forward"] {
		right: initial;
	}

	[data-js="true"] section.advertisements-user-controls [type="button"] svg {
		width: 2rem;
	}

	/* ------- COMPONENT STYLES ------- */

	/* "Preview - Case Study" */

	.preview-case-study {
		position: relative;
	}

	.preview-case-study > *:not(img) {
		width: 45%;
	}

	.preview-case-study > img {
		width: 50%;
		position: absolute;
		right: 0;
	}

	@supports ((display: -ms-grid) or (display: grid)) {
		.preview-case-study {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1.875rem;
			-ms-flex-line-pack: justify;
			align-content: space-between;
			position: static;
		}

		.preview-case-study > h4 {
			font-size: 3.125rem;
		}

		.preview-case-study > *:not(img) {
			width: auto;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
			grid-column: 1 / 2;
		}

		.preview-case-study > p {
			margin: 0.625rem 0;
		}

		.preview-case-study > p:last-of-type {
			margin: 0.625rem 0 2.125rem 0;
		}

		.preview-case-study > img {
			width: auto;
			margin: 0;
			position: static;
			-ms-grid-row: 1;
			-ms-grid-row-span: 4;
			-ms-grid-column: 2;
			-ms-grid-column-span: 1;
			grid-area: 1 / 2 / 5 / 3;
			-ms-flex-item-align: end;
			align-self: flex-end;
		}

		.preview-case-study > a {
			-ms-flex-item-align: end;
			align-self: flex-end;
		}
	}
}

@media (min-width: 75em) {
	/* ------- FOOTER ------- */

	footer {
		position: relative;
	}

	footer > section.get-in-touch {
		width: 46.875rem;
		padding-left: 24.375rem !important;
		margin-right: 0;
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
	}

	footer > nav.additional-pages-navigation {
		margin-top: 2.8125rem !important;
		margin-bottom: 2.8125rem !important;
	}

	footer > aside.copyright-information {
		margin-top: 2.8125rem;
		margin-bottom: 2.8125rem;
		display: inline;
	}

	footer > aside.kick-point-family-of-products {
		width: auto;
		padding: 0;
		font-size: 1.3125rem;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	aside.kick-point-family-of-products > ul {
		margin: auto 0 auto 0.9375rem !important;
	}

	/* ------- SIDEBARS ------- */

	/* "sidebar-sign-up-for-our-newsletter.php" */

	aside.sign-up-for-our-newsletter {
		max-width: 24.375rem;
		width: 100%;
		margin-left: calc((100% - 71.25rem) / 2);
		margin-right: auto;
		padding: 3.0625rem 0.9375rem;
		position: absolute;
		z-index: 1;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
	}
}

@media print {
	a:not([href^="#"])::after {
		content: "\0020("attr(href)")";
		display: inline;
	}

	body > *:not(main) {
		display: none !important;
	}	
}